<%= render 'layouts/common/header' %>
<div class="bg-white bg-img-non privacy-font container px-md-5 border-bottom">
  <div class=" w-100">
    <div class="text-center">
      <p class="font-weight-bold h4">Welcome to the Duke Leads - FZCO Privacy Notice</p>
    </div>
    <div>
      <p>
        T Dot UK Limited provide the credit broking service available on get-aloan.today, please find their privacy policy here: https://t.uk/b-privacy/
      </p>
      <p>
        Get A Loan Today is a website owned and operated by Duke Leads FZCO, a company organised under the laws of UAE with Licence Number 6245.
      </p>
      <p>
        Duke Leads - FZCO respects your privacy and is committed to protecting your personal data. This privacy notice will inform you as to how we look after your personal data when you visit our website (regardless of where you visit it from) and tell you about your privacy rights and how the law protects you.
      </p>
      <p>
        Duke Leads - FZCO is an Introducer Appointed Representative of T Dot UK Limited, registered under FRN 955804. T Dot UK Limited are authorised and regulated by the Financial Conduct Authority and is entered on the Financial Services Register under reference number: 688026.
      </p>
      <p>
        Duke Leads - FZCO is registered in Dubai, with a registered office located at DSO-IFZA, Dubai Silicon Oasis, Dubai, UAE.
      </p>
    </div>
      <p>
       In this document Duke Leads - FZCO may be referred to as “we”, “us”, or “our”.</p>
      </p>
    </div>
      <div class="bg-light h4">
        <p class="font-weight-bold">What kinds of personal data does Duke Leads - FZCO process?</p>
      </div>
      <div>
        <p>Duke Leads - FZCO collects personal data for specific purposes; with that in mind we have created a list of the types of personal data that we may collect, either directly from yourself or from other sources, in order to achieve those purposes.</p>
        <p>
        The kinds of personal data we may collect are:
      </p>
      <table class="table table-bordered border-dark table-sm">
      <thead class="thead-light">
        <tr>
          <th class="w-50">If you are a:</th>
          <th>We may process these types of personal data:</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Lead
          </td>
          <td>
            Forename, surname, email, telephone number. Postcode IP address
          </td>
        </tr>
        <tr>
          <td>
            Partners
          </td>
          <td>
            Name, address, telephone, email
          </td>
        </tr>
        <tr>
          <td>
          Affiliates
          </td>
          <td>
          Name, address, telephone, email,
          </td>
        </tr>
      </tbody>
    </table>
      </div>
     <div class="bg-light">
      <p class="font-weight-bold h4">What are the purposes Duke Leads - FZCO collects personal data for?</p>
    </div>
    <div>
      <p>Duke Leads - FZCO uses personal data firstly to fulfil any contractual obligations that exist between us and yourself; where we request personal data be provided to enter into, or meet the terms of any such contract, you will be required to provide the relevant personal data or we will not be able to deliver the goods or services you want. In such cases the lawful basis of us processing the personal data is that it is necessary for the performance of a contract.</p>
      <p>
        We are required by law to process personal data for purposes relating to our legal obligations, these include:
      </p>
      <ul>
        <li>
          To provide for the organisations’ financial commitments, or to relevant financial authorities
        </li>
        <li>
          To carry out required business operations and due diligence (E.g. administration, reorganisations, security, investment or corporate/asset sales)
        </li>
        <li>
          To cooperate with relevant authorities for reporting criminal activity, or to detect and prevent fraud
        </li>
        <li>
          To investigate any insurance claims, claims of unfair dismissal, claims of any kind of harassment or of discrimination, or any other claim whereby the organisation may have to defend itself
        </li>

      </ul>
      </div>
      <!-- <div class="border border-dark overflow-hidden">
        <p>Where we have received your consent to do so; Duke Leads - FZCO will use your personal data for the following purposes</p>
        <ul>
          <li>
            To inform you of other goods and services provided by third-party organisations.
          </li>
          <li>
            <p>
            To provide your personal data to third-party organisations for their own future marketing purposes.<br>
            The third-party organisation we may provide your personal data to include:<br>
            O2, <a href="https://www.o2.co.uk">https://www.o2.co.uk</a><br>
            EE Ltd, <a href="https://ee.co.uk/">https://ee.co.uk/</a><br>
            Vodafone, <a href="https://www.vodafone.co.uk/">https://www.vodafone.co.uk/</a><br>
            Hutchison 3, <a href="http://www.three.co.uk/">http://www.three.co.uk/</a><br>
            Lead 365, <a href="http://www.lead365.co.uk/">http://www.lead365.co.uk/</a><br>
            Go Groupie, <a href="https://www.gogroopie.com">https://www.gogroopie.com</a><br>
            Loanable, <a href="https://www.loanable.com">https://www.loanable.com/</a>
            </p>
          </li>
          <li>
            To provide services available through online signup to the general public.
          </li>
        </ul>
        <p>
        Withdrawing your consent for us to process your personal data will not affect the lawfulness of the processing beforehand.
        </p>
      </div> -->
      <!-- new addition -->
      <div class="bg-white">
        <div class="bg-light">
          <p class="font-weight-bold h4">Applying for car finance</p>
        </div>
        <p>
          When you apply for finance with us, your details will be passed into a 3rd party company, i3 Technology Group Ltd trading as i3.finance (contact details below). This organisation will check the following records about you and with their chosen Credit Reference Agencies (CRA), Equifax Ltd and Experian Ltd
        </p>
        <ul class="">
          <li class="d-flex small">
            <p class="m-0 pr-1 font-weight-bold text-dark">a: </p>
             <p class="m-0">Our own</p>
          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">b: </p>
            <p class="m-0">
              Up to date contact information can be found for i3 Technology Group Ltd at <a href="https://www.i3.finance">https://www.i3.finance</a>
            </p>
          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">c: </p>
            <p class="m-0">
              Those at Equifax Ltd and/or Experian Ltd. When Equifax and/or Experian receives a search request from us via i3.finance, they will place a soft quotation footprint that will be visible to you only, on your credit file, other parties including lenders will not see this. This quotation footprint will not be seen by other parties and it will not affect your credit score/rating or ability to apply for finance from other lenders.
            </p>

          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">d: </p>
            <p class="m-0">
              i3.finance will access from Equifax Ltd and/or Experian Ltd both public (including the electoral register) and shared credit and fraud prevention information. This information will be used to check your eligibility against a select group of lenders.
            </p>

          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">e: </p>
            <p class="m-0">
              Those at fraud prevention agencies (FPAs).
            </p>

          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">f: </p>
            <p class="m-0">
              We will not see any information on your credit file, i3.finance will only provide a list of lenders that you are likely to be accepted for given the information supplied using their brokering technology that understands most of the acceptance criteria of the lenders on their panel.
            </p>

          </li>
        </ul>
        <p>
          We will make checks such as; assessing this application for credit and verifying identities to prevent and detect crime.
        </p>
        <ul>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">a: </p>
            <p class="m-0">
              Information on applications will be sent to CRAs and will be recorded by them.
            </p>

          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">b: </p>
            <p class="m-0">
              If you give us false or inaccurate information and we suspect or identify fraud we will record this and may also pass this information to FPAs and other organisations involved in crime and fraud prevention.
            </p>

          </li>
          <li class="d-flex">
            <p class="m-0 pr-1 font-weight-bold text-dark">c: </p>
            <p class="m-0">
              Your data may also be used for other purposes for which you give your specific permission or, in very limited circumstances, when required by law or where permitted under the terms of the Data Protection Act 2018.
            </p>

          </li>
        </ul>
        <div class="bg-light">
          <p class="font-weight-bold h4">How to find out more</p>
        </div>
        <p>
          You can contact our chosen 3rd Party, i3 Technology Group Ltd trading as i3.finance or the Credit Reference Agencies, Equifax and Experian; the information they hold may not be the same so it is worth contacting them all.
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">Equifax Ltd:</p>
        </div>
        <p>
          Customer Services Centre, PO Box 10036, Leicester, LE3 4FS <br> Call 0800 014 2955 <br>Visit <a href="www.equifax.co.uk">www.equifax.co.uk</a>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">Experian Ltd:</p>
        </div>
        <p>
          The Sir John Peace Building, Experian Way, NG2 Business Park, Nottingham, NG80 1ZZ, UK <br><a href="https://www.experian.co.uk/contact-us/">https://www.experian.co.uk/contact-us/</a>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">i3.finance:</p>
        </div>
        <p>
          15f Ponderosa Park, Smithies Lane, Heckmondwike, WF16 0PR<br><a href="https://www.i3.finance/">https://www.i3.finance/</a>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">Above Debt:</p>
        </div>
        <p>
          2/1 24 Sandyford Place, G3 7NG<br><a href="https://www.abovedebt.co.uk/">https://www.abovedebt.co.uk/</a>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">Lead 365:</p>
        </div>
        <p>
         6th Floor, Alexandra Warehouse, West Quay, Llanthony Rd, Gloucester, GL1 2LG<br><a href="https://www.lead365.co.uk/">https://www.lead365.co.uk/</a>
        </p>

        <div class="bg-light">
          <p class="font-weight-bold h4">Phoenix Insolvency Debt Management Solutions:</p>
        </div>
        <p>
          Company Number 12437227 <br>
          Earl Business Center, Dowry Street, Oldham OL8 2PF <br>
          <a href="https://www.phoenixinsolvency.co.uk/privacy">https://www.phoenixinsolvency.co.uk/privacy</a><br>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">The IVA Advisor Limited Trading as POMPOM:</p>
        </div>
        <p>
          Company Number 11640096 <br>
          Cheadle Place, Stockport Road, Cheadle, Cheshire, SK8 2JX <br>
          <a href="https://pompom.co.uk/privacy-policy/">https://pompom.co.uk/privacy-policy/</a> <br>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">The IVA Advisor Limited:</p>
        </div>
        <p>
          Company Number 11640096 <br>
          Cheadle Place, Stockport Road, Cheadle, Cheshire, SK8 2JX <br>
          <a href="https://theivaadvisor.co.uk/privacy-policy.pdf">https://theivaadvisor.co.uk/privacy-policy.pdf</a> <br>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4">Dean Finance:</p>
        </div>
        <p>
          Merlin Business Center, Hilington Park, Glasgow G52 4XZ <br>
          <a href="https://www.deanfinance.co.uk/privacy">https://www.deanfinance.co.uk/privacy</a> <br>
        </p>
        <div class="bg-light">
          <p class="font-weight-bold h4"> MLS Solvency Limited:</p>
        </div>
        <p>
          Company Number SC502966 <br>
          58 West Regent Street, 3rd Floor, Glasgow, Scotland, G2 2QZ <br>
          <a href="https://www.mlssolvency.co.uk/privacy-policy/">https://www.mlssolvency.co.uk/privacy-policy/</a> <br>
        </p>

      </div>
      <div class="bg-light">
        <p class="font-weight-bold h4">Duke Leads - FZCO contact details:</p>
      </div>
      <div>
        <p>
          Duke Leads - FZCO<br>
          Registered: DSO-IFZA, Dubai Silicon Oasis, Dubai, UAE.<br>
          data@dukeleads.com
        </p>
      </div>
      <div class="bg-light">
        <p class="font-weight-bold h4">Who is the Duke Leads - FZCO Data Protection Officer?</p>
      </div>
      <div>
        <p>
          Ametros Group Ltd<br>
          Lakeside offices, Thorn Business Park, Hereford, England, HR2 6JT<br>
          dpo@ametrosgroup.com
        </p>
        <p>
          T Dot UK Limited provide the credit broking service available on get-aloan.today, please find their privacy policy here: <a href="https://t.uk/b-privacy/">https://t.uk/b-privacy/</a>
        </p>
      </div>
    </div>
  </div>
</div>
<%= render 'layouts/common/footer' %>
