<div class="container d-flex align-items-center justify-content-center virtual-height">
  <div>
    <div class="bg-light m-4 position-relative">
      <div class="unsub-image mx-auto position-absolute">
        <%= image_tag ("unsubscribe.png") %>
      </div>
      <div class="text-center p-5">
        <p class="m-0">Unsubscribe from SMS / Email Alerts</p>
        <p>To unsubscribe email stop to <a href="mailto:data@dukeleads.com">data@dukeleads.com</a></p>
      </div>
    </div>
  </div>
</div>

