<div class="modal2 popup font-famly-m" id="privacy-model">
  <div class="modal2-dialog mx-auto" role="document">
    <div class="modal2-content px-md-3 col-lg-6 col-sm-8 col-11">
      <div class="d-flex align-items-center justify-content-between" >
        <h2 class="text-center font-weight-bold">Partners List</h2>
        <span class="close-b" aria-hidden="true">&times;</span>
      </div>
      <div class="modal2-body text-left">
        <form class="partner-form" id="partner-form">
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" name="partners-input" class="custom-control-input utilita" id="utilita">
            <label class="custom-control-label utilita pl-3 pt-2" for="utilita">Utilita</label>
          </div>
          <div class="custom-control custom-checkbox mb-2">
            <input type="checkbox" name="partners-input" class="custom-control-input scottishpower" id="scottishpower">
            <label class="custom-control-label scottishpower pl-3 pt-2" for="scottishpower">Scottish Power</label>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

