/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 0%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: white;

  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  .footer{
    h6{
      font-size: 16px;
      line-height: 1.2;
    }
  }
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 5%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

.modal2 {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 40px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}
.modal2-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 85%;
  border-radius: 5px;
}
.close-b{
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close-b:hover,
.close-b:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


@media only screen and (max-width:767px) {
  .overlay-content{
    margin-top: 0;
    img{
      width: 60%
    }
  }
  .footer{
    .w-75{
      width: 100% !important;
    }
  }
}
