<div id="myNav" class="overlay">
  <div class="overlay-content">
    <div class="container">
      <h3 >Please stay on this page</h3>
      <h4 class="my-2">WE ARE ATTEMPTING TO MATCH YOU WITH A LENDER</h4>
      <%= image_tag("clock_animation.gif" ) %>
      <p>THIS PROCESS COULD TAKE A FEW MINUTES</p>
      <p class="mt-1">PLEASE DO NOT REFRESH OR CLOSE YOUR BROWSER</p>
    </div>
    <div class="bg-warning footer mt-3">
       <div class="container">
        <h6 class="w-75 mx-auto">YOU WILL BE REDIRECTED TO A NEW WEBSITE ONCE WE CONNECT YOU WITH A LENDER PLEASE REVIEW THE LENDER’S TERMS AND CONDITIONS BEFORE PROCEEDING</h6>
      </div>
    </div>
  </div>
</div>
